@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&display=swap");
:root {
  --Roboto: "Roboto", sans-serif;
  --Rowdies: "Rowdies", cursive;
  --color-first: #593e3e;
  --color-segund: #735a5a;
  --color-third: #a69292;
  --bg-color: #f2e8e4;
  --white:#fff;
  --black:black;
}
nav::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}
nav::-webkit-scrollbar-thumb {
  background-color: var(--color-first);
  border-radius: 20px;
}
nav::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.082);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  width: 100%;

}
header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-first);
  width: 100%;
  padding: 10px;
  border-radius: 0px 0px 10px 20px;
}
#menu {
  position: absolute;
  left: 15px;
}
.fa-bars {
  font-size: 2em;
  cursor: pointer;
}
#containerLogo {
  text-align: center;
}
#nameFirst {
  color: var(--color-third);
  font-family: var(--Rowdies);
  font-size: 2em;
}
#nameSecond {
  color: #ffffff;
  font-family: var(--Rowdies);
  font-size: 0.8em;
}
nav {
  position: fixed;
  z-index: 10;
  bottom: 0;
  display: flex;
  overflow-x: scroll;
  width: 100%;
  background-color: var(--color-third);
  /* border-radius: 15px 15px 0px 0px; */
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 1.2em;
  list-style: none;
  padding: 10px;
}
nav li {
  padding: 10px;
}
nav a {
  color: var(--color-first);
  font-family: var(--Rowdies);
  font-size: 1.8em;
  text-decoration: none;
  transition-duration: 0.8s;
  white-space: nowrap;
}
nav a:hover, nav a:focus{
    background-color: rgba(0, 0, 0, 0.082);
    padding: 8px;
    border-radius:20px;
}
#presentation{
  margin-top: 10px;
  margin-bottom: -20px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.185);
}
#presentation h1{
color: var(--color-first);
font-family: var(--Roboto);
margin-bottom: 10px;

}
.containerHero img{
  margin-top: 10px;
  width: 70%;
  max-width: 750px;
}
span{
  color: #e93899;
}


details{
  margin-top: 50px;
  background-color: var(--white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.151);
  border-radius: 20px 20px 0px 0px;
}
summary{
  display: flex;
  align-items: center;
  list-style: none;
  background-color: var(--white);
  width: 100%;
 
  border-top: 5px solid var(--color-first);
  border-radius:10px 10px 0px 0px;
  
}
summary h2{
  padding: 5px;
  font-family: var(--Rowdies);
  color: var(--color-first);
}
.fa-caret-down{
  color: var(--color-first);
  position: absolute;
  right: 10px;
  font-size: 30px;
  transition-duration: 0.6s;
}
.container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.185);

}
.descriçao{
  margin: 10px;
}
.descriçao p {
  color: var(--color-first);
  font-weight: 500;
  font-family: var(--Roboto);
  margin-top: 10px;
  margin-bottom: 10px;
}
.descriçao h3{
  color: var(--color-segund);
  font-family: var(--Roboto);
}
.descriçao a{
  color: #e93899;
  font-family: var(--Roboto);
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
}
.valor{
  margin-top: 20px;
  color: var(--color-first);
  font-size: 1.1em;
  font-family: var(--Roboto);
  font-weight: 900;
}

.imgProduto{
 margin: 10px;
}
.imgProduto img{
 width: 130px;
}
footer{
  background-color: var(--color-first);
  margin-top: 80px;
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
}
footer p{
  font-family: var(--Roboto);
  color: var(--bg-color);
  font-weight: 500;
}
footer span{
  color: rgb(187, 123, 247);
}
h1{
  color: var(--bg-color);
  font-family: var(--Rowdies);
  font-size: 1.3em;
  margin-top: 20px;
}
.contatos{
margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;
gap: 1.5em;
}
footer .fa-brands{
  color: var(--white);
  font-size: 2em;
}
